/* tup-color */

.scroll-top {
  background: #C3203C;
}

.mobile-menu .contact-info ul li a:hover {
  color: #C3203C;
}

.mobile-menu .social-links li a:hover {
  color: #C3203C;
}

.switcher .switch_btn button {
  background: #C3203C;
}

.main-menu .navigation>li.current>a,
.main-menu .navigation>li:hover>a {
  color: #FF8A9E !important;
}

.main-menu .navigation>li>ul {
  border-top: 3px solid #C3203C;
}

.main-menu .navigation>li>ul>li>a:hover {
  color: #FF8A9E;
}

.main-menu .navigation li.current.dropdown .dropdown-btn,
.main-menu .navigation li:hover .dropdown-btn {
  color: #FF8A9E;
}

.main-menu .navigation>li>ul>li>ul {
  border-top: 3px solid #C3203C;
}

.header-top .info li a:hover {
  color: #C3203C;
}

.header-top .info li i {
  color: #C3203C;
}

.header-top .social-links li a:hover {
  color: #C3203C;
}

.header-top .sign-box a:hover {
  color: #C3203C;
}

.header-top .sign-box a i {
  color: #C3203C;
}

.main-menu .navigation>li>ul>li>a:hover,
.main-menu .navigation>li>.megamenu li>a:hover {
  color: #C3203C;
}

.main-menu .navigation>li>ul>li>ul>li>a:hover {
  color: #C3203C;
}

.main-menu .navigation>li.dropdown>.megamenu {
  border-top: 3px solid #C3203C;
}

.main-menu .navigation>li>a:before {
  background-color: #C3203C;
}

.theme-btn.btn-one {
  background-color: #C3203C;
  border: 2px solid #C3203C;
}


.search-field .top-search .search-btn button {
  background-color: #C3203C;
}

.search-field .tab-btn-box li.active-btn {
  background-color: #C3203C;
}

.ui-slider-horizontal .ui-slider-range {
  background-color: #C3203C;
}

.ui-slider .ui-slider-handle {
  background-color: #C3203C;
}

.search-field .advanced-search .range-box input {
  color: #C3203C;
}

.category-block-one .inner-box:before {
  background-color: #C3203C;
}

.sec-title h5 {
  color: #C3203C;
}

.feature-block-one .inner-box .lower-content .author-info .buy-btn a:hover {
  background-color: #C3203C;
}

.feature-block-one .inner-box .lower-content .title-text h4 a:hover {
  color: #C3203C;
}

.feature-block-one .inner-box .lower-content .price-box .price-info h4 {
  color: #C3203C;
}

.feature-block-one .inner-box .lower-content .price-box .other-option li a:hover {
  background-color: #C3203C;
  border-color: #C3203C;
}

.theme-btn.btn-two:hover {
  border-color: #C3203C;
}

.theme-btn.btn-two:before {
  background-color: #C3203C;
  border-color: #C3203C;
}

.deals-block-one .inner-box .lower-content .title-text h4 a:hover {
  color: #C3203C;
}

.deals-block-one .inner-box .lower-content .other-option li a:hover {
  background-color: #C3203C;
  border-color: #C3203C;
}

.deals-block-one .inner-box .lower-content .price-box .price-info h4 {
  color: #C3203C;
}

.nav-style-one .owl-nav button:hover {
  background-color: #C3203C !important;
  border-color: #C3203C !important;
}

.testimonial-block-one .inner-box .author-info h4 {
  color: #C3203C;
}

.place-block-one .inner-box .text h4 a:hover {
  color: #C3203C;
}

.team-block-one .inner-box .lower-content .inner h4 a:hover {
  color: #C3203C;
}

.team-block-one .inner-box .lower-content .inner .social-links li a:hover {
  border-color: #C3203C;
  background-color: #C3203C;
}

.theme-btn.btn-three:before {
  background-color: #C3203C;
}

.theme-btn.btn-three:hover {
  border-color: #C3203C;
}

.news-block-one .inner-box .lower-content h4 a:hover {
  color: #C3203C;
}

.news-block-one .inner-box .lower-content .post-info li.author-box h5 a:hover {
  color: #C3203C;
}

.bg-color-3 {
  background-color: #C3203C;
}

.footer-top a:hover {
  color: #C3203C;
}

.footer-top .links-widget .links-list li a:hover:before {
  background-color: #C3203C;
}

.footer-top .contact-widget .info-list li i {
  color: #C3203C;
}

.footer-bottom a:hover {
  color: #C3203C;
}

.main-header .menu-right-content .sign-box a:hover {
  color: #C3203C;
}

.main-header .menu-right-content .sign-box a i {
  color: #C3203C;
}

.banner-carousel .owl-dots .owl-dot.active span,
.banner-carousel .owl-dots .owl-dot span:hover {
  background-color: #C3203C;
}

.dots-style-one .owl-dots .owl-dot.active span,
.dots-style-one .owl-dots .owl-dot span:hover {
  background-color: #C3203C !important;
}

.deals-style-two .image-box .buy-btn a:hover {
  background-color: #C3203C;
}

.testimonial-block-two .inner-box .author-info h4 {
  color: #C3203C;
}

.content_block_2 .content-box .place-list li a:hover {
  color: #C3203C;
}

.content_block_2 .content-box .place-list li a:hover span {
  color: #C3203C;
}

.content_block_2 .content-box .place-list li a h5:before {
  background-color: #C3203C;
}

.header-style-three .header-lower .main-menu .navigation>li.current>a,
.header-style-three .header-lower .main-menu .navigation>li:hover>a {
  background-color: #C3203C;
}

.search-field-section .tabs-content .tab-btns li.active-btn:before {
  border-color: #C3203C;
}

.search-field-section .tabs-content .tab-btns li.active-btn:after {
  background-color: #C3203C;
}

.feature-block:nth-child(2) .feature-block-two .inner-box .icon-box {
  color: #C3203C;
}

.feature-block:nth-child(2) .feature-block-two .inner-box .icon-box:before {
  background-color: #C3203C;
}

.funfact-block-one .inner-box .count-outer {
  color: #C3203C;
}

.pricing-block-one .pricing-table .table-header h2 {
  color: #C3203C;
}

.pricing-block-one .pricing-table .table-footer .link-btn {
  border: 2px solid #C3203C;
}

.pricing-block-one .pricing-table .table-footer .link-btn:hover {
  background-color: #C3203C;
}

.pricing-block-one .pricing-table:hover .table-header {
  background-color: #C3203C;
}

.contact-section .form-inner input:focus,
.contact-section .form-inner textarea:focus {
  border-color: #C3203C !important;
}

.item-shorting .right-column .short-menu button:hover,
.item-shorting .right-column .short-menu button.on {
  border-color: #C3203C;
  background-color: #C3203C;
}

.pagination li a:hover,
.pagination li a.current {
  border-color: #C3203C;
  background-color: #C3203C;
}

.owl-item:nth-child(2n+1) .feature-block-two .inner-box .icon-box {
  color: #C3203C;
}

.owl-item:nth-child(2n+1) .feature-block-two .inner-box .icon-box:before {
  background-color: #C3203C;
}

.image_block_2 .image-box .text h2 {
  color: #C3203C;
}

.testimonial-block-three .inner-box h5 {
  color: #C3203C;
}

.news-block-two .inner-box .content-box .post-info li.author-box h5 a:hover {
  color: #C3203C;
}

.news-block-two .inner-box .content-box h4 a:hover {
  color: #C3203C;
}

.page-title .bread-crumb li a:hover {
  color: #C3203C;
}

.default-sidebar .category-widget .category-list li a:hover {
  color: #C3203C;
}

.default-sidebar .category-widget .category-list li a:hover:before {
  border-color: #C3203C;
}

.default-sidebar .category-widget .category-list li a:hover:after {
  background-color: #C3203C;
}

.agents-block-one .inner-box .content-box .title-inner a:hover {
  color: #C3203C;
}

.agents-block-one .inner-box .content-box .social-list li a:hover {
  border-color: #C3203C;
  background: #C3203C;
}

.agents-block-one .inner-box .content-box .info li i {
  color: #C3203C;
}

.agents-block-one .inner-box .content-box .info li a:hover {
  color: #C3203C;
}

.agents-block-two .inner-box:hover .image-box {
  border-color: #C3203C;
}

.agents-block-two .inner-box .content-box .title-inner a:hover {
  color: #C3203C;
}

.agents-block-two .inner-box .content-box .info li a:hover {
  color: #C3203C;
}

.agents-block-two .inner-box .content-box .info li i {
  color: #C3203C;
}

.agent-details-page .tab-btn-box .tab-btns li.active-btn:before {
  border-color: #C3203C;
}

.agent-details-page .tab-btn-box .tab-btns li.active-btn:after {
  background-color: #C3203C;
}

.agent-details-page .tab-btn-box .tab-btns li.active-btn {
  color: #C3203C;
}

.agent-details-page .deals-block-one .image-box .buy-btn a:hover {
  background-color: #C3203C;
}

.default-form input:focus,
.default-form textarea:focus {
  border-color: #C3203C !important;
}

.page-title-two .bread-crumb li:last-child {
  color: #C3203C;
}

.page-title-two .bread-crumb li a:hover {
  color: #C3203C;
}

.property-page-section .deals-block-one .image-box .buy-btn a:hover {
  color: #C3203C;
}

.default-sidebar .price-filter .input input {
  color: #C3203C;
}

.property-details .top-details .right-column .price-inner .price-box h3 {
  color: #C3203C;
}

.property-details .top-details .right-column .other-option li a:hover {
  background-color: #C3203C;
  border-color: #C3203C;
}

.property-details .carousel-inner .owl-nav button:hover {
  background-color: #C3203C;
}

.property-details-content .amenities-box .list li:before {
  border: 2px solid #C3203C;
}

.property-details-content .amenities-box .list li:after {
  background-color: #C3203C;
}

.accordion-box .block .acc-btn.active h5 {
  color: #C3203C;
}

.accordion-box .block .acc-btn.active .icon-outer {
  color: #C3203C;
}

.property-details-content .nearby-box .single-item .icon-box {
  background-color: #C3203C;
}

.property-details-content .form-group input:focus,
.property-details-content .form-group textarea:focus {
  border-color: #C3203C !important;
}

.property-sidebar .author-widget .author-box .inner .info li i {
  color: #C3203C;
}

.property-sidebar .author-widget .author-box .inner .info li a {
  color: #C3203C;
}

.property-sidebar .author-widget .author-box .btn-box a {
  color: #C3203C;
  border: 1px solid #C3203C;
}

.property-sidebar .author-widget .author-box .btn-box a:hover {
  background-color: #C3203C;
}

.property-details-three .slider-content .slider-pager .thumb-box li figure:after {
  border-color: #C3203C !important;
}

.faq-sidebar .form-inner input:focus,
.faq-sidebar .form-inner textarea:focus {
  border-color: #C3203C !important;
}

.pricing-section .tab-btns li:before {
  background-color: #C3203C;
}

.pricing-section .tab-btns:before {
  border: 2px solid #C3203C;
}

.properties-section th .price {
  color: #C3203C;
}

.sortable-masonry .filters .filter-tabs li:hover,
.sortable-masonry .filters .filter-tabs li.active {
  background-color: #C3203C;
  border-color: #C3203C;
}

.myprofile-section .tab-btns li.active-btn {
  color: #C3203C;
}

.myprofile-section .tab-btns li.active-btn span {
  background-color: #C3203C;
  border-color: #C3203C;
}

.myprofile-section h4 i {
  color: #C3203C;
}

.myprofile-section .other-option .radio-box input[type="radio"]:checked+label span:before {
  border-color: #C3203C;
}

.myprofile-section .other-option .radio-box input[type="radio"]:checked+label span:after {
  background-color: #C3203C;
}

.myprofile-section .other-option .radio-box input[type="radio"]:checked+label {
  color: #C3203C;
}

.ragister-section .inner-box .othre-text p a {
  color: #C3203C;
}

.ragister-section .tab-btn-box .tab-btns li.active-btn {
  background-color: #C3203C;
}

.info-block-one .inner-box p a:hover {
  color: #C3203C;
}

.info-block:nth-child(2) .info-block-one .inner-box .icon-box:before {
  background-color: #C3203C;
}

.info-block:nth-child(2) .info-block-one .inner-box .icon-box {
  color: #C3203C;
}

.blog-sidebar .sidebar-widget .search-inner .form-group button {
  background-color: #C3203C;
}

.blog-sidebar .sidebar-widget .search-inner .form-group input:focus {
  border-color: #C3203C !important;
}

.blog-sidebar .category-widget .category-list li a:hover {
  color: #C3203C;
}

.blog-sidebar .post-widget .post h5 a:hover {
  color: #C3203C;
}

.blog-sidebar .tags-widget .tags-list li a:hover {
  background-color: #C3203C;
  border-color: #C3203C;
}

.news-block-one .inner-box .lower-content h3 a:hover {
  color: #C3203C;
}

.blog-details-content .news-block-one .inner-box .lower-content .text blockquote {
  border-left: 3px solid #C3203C;
}

.blog-details-content .news-block-one .inner-box .lower-content .text blockquote h4 {
  color: #C3203C;
}

.blog-details-content .post-tags .tags-list li a:hover {
  background-color: #C3203C;
  border-color: #C3203C;
}

.blog-details-content .comments-area .comment .text a:hover {
  color: #C3203C;
}